{% extends "design/responsivebase.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">PK Private Limited</h1>
            <h5 class="display-6">crew people</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h5 class="display-6">Our Crew People</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/tonystark.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">TONY STARK</h5>
                <p class="card-text">President of a company</p>
                <a href="https://en.wikipedia.org/wiki/Iron_Man" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/elonmusk.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">ELON MUSK</h5>
                <p class="card-text">Cheif Executive Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/Elon_Musk" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/steverogers.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">STEVE ROGERS</h5>
                <p class="card-text">Cheif Operating Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/Steve_Rogers_(Marvel_Cinematic_Universe)" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/sundarpichai.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">SUNDAR PICHAI</h5>
                <p class="card-text">Cheif Financial Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/Sundar_Pichai" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/tanmaybakshi.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">TANMAY BAKSHI</h5>
                <p class="card-text">Cheif Legal Officer of a company</p>
                <a href="https://www.ibm.com/blogs/client-voices/author/tanmay-bakshi/" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/kathyleuders.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">KATHY LEUDERS</h5>
                <p class="card-text">Cheif Marketing Officerof a company</p>
                <a href="https://en.wikipedia.org/wiki/Kathy_Lueders" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>
 {% endblock  %}